@import url('https://fonts.googleapis.com/css?family=Fira+Code|Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aldrich|Press+Start+2P|VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
/*

font-family: 'Fira Code', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

font-family: 'Aldrich', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Press Start 2P', cursive;

*/






html,body{
	padding: 0;
	margin: 0;

	background: #0B0D19;
}

body::-webkit-scrollbar {
	    width: 4px;
	    height: 1px;
	    background: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
    background-color: #303241;
}
body::-webkit-scrollbar-track {
    border-width: 0;
}

#hr{
	background: #DC0232;
	height: 1px;
	margin-bottom: 10px;
}
.clear-fix{
	height: 70px;
	clear: both;
	z-index: 0;
}

.clear{
	clear: both;
}

.blur{
	filter: blur(15px);
}

.work-zone{
	float: left;
	padding: 0;

	user-select: none;
}
.error{
	display: block;
}
.page-wrapper{
	/* code ...*/
}

	.page-wrapper .navigation-bar{
		position: fixed;
		background: #111322;
		padding: 5px;

		z-index: 200;
	}
		.page-wrapper .navigation-bar .logo-block{
			color: #FF0033;
			font-size: 26px;
			padding-left: 20px;
			float: left;
		}
		.page-wrapper .navigation-bar .nav{
			padding-right: 20px;
			/*float: right;*/

		}
			.page-wrapper .navigation-bar .nav ul{
				display: inline-block;
				margin: 0;
				padding: 0;
				list-style: none;
			}
				.page-wrapper .navigation-bar .nav ul li{
					display: inline-block;
					margin: 10px;

					font-family: 'Open Sans', sans-serif;
				}
					.page-wrapper .navigation-bar .nav ul li a{
						text-decoration: none;
						color: #7B7D89;
						transition: all 0.5s;
					}
					.page-wrapper .navigation-bar .nav ul li .active{
						color: #DC0232;
					}
					.page-wrapper .navigation-bar .nav ul li a:hover{
						color: #DC0232;
					}
					.page-wrapper .navigation-bar .nav ul li #auth div{
						display: block;
						width: 190px;
						background: #0B0D19;

						color: #8F919D;

						border: 1px solid red;
						font-family: 'Fira Code', monospace;
						text-align: center;
						font-size: 20px;

						text-transform: uppercase;
						padding: 5px;
						transition: all 0.5s;

					}
					.page-wrapper .navigation-bar .nav ul li #auth div:hover{
						background: #f52c2c;
						width: 190px;

					}
						.page-wrapper .navigation-bar .nav ul li #auth img{
							display: inline-block;
						}

		.page-wrapper .nav-bar-left{
			
			color: #DBDBDB;

			font-family: 'Roboto', sans-serif;
			text-align: center;
			/*float: left;*/
		} 
		  .page-wrapper .nav-bar-left .user-info{
		  	/*display: block;*/
		  	background: #131524;
			padding: 28px;
		  	margin: 0 auto 10px;

		  	font-family: cursive;
		  }
			.page-wrapper .nav-bar-left .avatar-zone{
				border-radius: 100px;
				border: 1px solid #4B4D59;
				background: #0B0D19;
				width: 50px;
				height: 50px;
				margin: 5px;
				padding: 0;
				overflow: hidden;

				cursor: pointer;
				float: left;
			}
			.page-wrapper .nav-bar-left .avatar-zone:hover { /*Граница круг аватарки*/
				border:1px solid #FF5D2B;
				transition: 0.3s;
			}
				.page-wrapper .nav-bar-left .avatar-zone #user_avatar{
					float: left;
				}
			.page-wrapper .nav-bar-left .info-zone{
				/*padding: 10px;*/
				/*margin-left: 15px;*/
				margin: 5px;
				text-align: left;
				float: left;
			}
			  .page-wrapper .nav-bar-left .pay-button-zone{
			  	margin: 0;
			  	padding: 0;
			  }
				.page-wrapper .nav-bar-left .pay-button-zone button{
					border-radius: 5px;
					border: none;

					width: 100px;
					color: #fefefe;
					background: #DC0232;

					margin: 5px 18px 0px 0px;

					outline: none;

					transition: all 0.2s;
				}	
					.page-wrapper .nav-bar-left .pay-button-zone button:hover{
						background: #F24B18;
					}
				.page-wrapper .nav-bar-left .info-zone #user_name{
					font-family:  cursive;
					font-size: 18px;
					color: #C4C5C8;
				}
					.page-wrapper .nav-bar-left .info-zone i{
						color: #595B69;
						
					}
				.page-wrapper .nav-bar-left .info-zone #user_balance{
					color: #C4C5C8;

					cursor: pointer;
				}
		
		   .page-wrapper .nav-bar-left .nav-bar-menu{
		   	    background: #131524;
				padding: 25px;
			  	margin: 0 auto 10px;

			  	text-align: left;
		   }
		   	.page-wrapper .nav-bar-left .nav-bar-menu ul{
		   		margin: 0;
		   		padding: 0;
		   		list-style: none;
		   	}
		   		.page-wrapper .nav-bar-left .nav-bar-menu ul li{
					margin: 20px;
					padding-left: 10px;
		   		}
		   		.page-wrapper .nav-bar-left .nav-bar-menu ul li a{
		   			text-decoration: none;
					color: #7B7D89;
					transition: all 0.5s;
		   		}
		   			.page-wrapper .nav-bar-left .nav-bar-menu ul li a:hover{
		   				color: #DC0232;
		   			}
		   			.page-wrapper .nav-bar-left .nav-bar-menu ul li .active{
		   				color: #DC0232;
		   			}



		.page-wrapper .game-bar{
			background: #131524;
			padding: 15px;

			margin-bottom: 15px;
			
			color: #fefefe;
			height: 410px;
			max-height: 410px;

			float: left; 
		}
			.page-wrapper .game-bar .session-owner{
				/* code ... */
				text-align: center;
			}
				.page-wrapper .game-bar .session-owner .user-avatar{
					border-radius: 1000px;
					border: 2px solid #C42D1B;
					background: #0B0D19;
					width: 100px;
					height: 100px;
					margin: 0 auto;
					padding: 0;
					cursor: pointer;
					overflow: hidden;
				}
				.page-wrapper .game-bar .session-owner .user-name{
					color: #595B69;

					/*width: 250px;*/
					/*margin: 0 auto;*/
					padding: 5px;

					font-family: cursive;;
					font-size:  18px;
					text-align: center;
				}
					.page-wrapper .game-bar .session-owner .user-name b{
						font-size: 20px;
					}

			.page-wrapper .game-bar .regular-users{
				margin-top: 50px;

			}

					.page-wrapper .game-bar .regular-users  .user{
						padding: 5px;
						text-align: center;
					}
						.page-wrapper .game-bar .regular-users .user .user-avatar{
							border-radius: 1000px;
							border: 2px solid #C42D1B;
							background: #0B0D19;
							width: 60px;
							height: 60px;
							margin: 0 auto;
							padding: 0;
							overflow: hidden;
							cursor: pointer;

							
						}
						.page-wrapper .game-bar .regular-users .user .payed{
							border: 2px solid #53C41B;
						}
						.page-wrapper .game-bar .regular-users .user .user-name{
							color: #595B69;

							/*width: 220px;*/
							/*margin: 0 auto;*/
							padding: 5px;

							font-family: cursive;
							font-size: 15px;
							text-align: center;
						}
							.page-wrapper .game-bar .regular-users .user .user-name b{
								font-size: 18px;
							}

				.page-wrapper .game-bar .description{
					/* code ...*/
					/*margin-bottom: 5px;*/
					text-align: left;
				}
					.page-wrapper  .game-bar .description h4{
						color: #FF6B38;
						font-family: cursive;
						font-size: 17px;
					}
					.page-wrapper .game-bar .description p{
						color: #9EA0AC;
						font-family: cursive;
						font-size: 14px;
					}

			.page-wrapper .score-block{
				background: #131524;
				padding: 15px;
				
				height: 410px;
				max-height: 410px;
				color: #fefefe;
				/*max-height: 500px;*/
				/*float: left; */
			}

				.page-wrapper  .score-block #lvl{
					font-family: 'VT323', monospace;
					text-align: left;
					color: #FF6B38;
				}
				.page-wrapper  .score-block #throw_button{
					/* code ...*/
				}
					.page-wrapper  .score-block #throw_button #throw{
						border: none;
						background: #37CE47;
						color: #fefefe;

						width: 100%;
						margin: 0 auto;

						padding: 10px;
						outline: none;

						cursor: pointer;

						transition: all 0.3s;
						font-family: sans-serif;
					}
				  .page-wrapper  .score-block .room-info{
				  	/* code ...*/
				  }
				  	.page-wrapper .score-block .room-info ul{
				  		margin: 0;
				  		padding: 0;

				  		list-style: none;
				  	}
				  		.page-wrapper  .score-block .room-info ul li{
				  			margin: 20px auto;
				  			font-family: cursive;
				  			font-size: 15px;
				  			color: #8C8E9A;
				  		}
				  			.page-wrapper  .score-block .room-info ul li small{
				  				color: #fefefe;
				  			}
		.page-wrapper .last-game-bar{
			/* code ...*/
			overflow: hidden !important;
		    padding: 0 !important;
		    position: relative;
		}
			.page-wrapper .last-game-bar .block{
				background: #131524;
				padding: 10px;
				max-height: 500px;
				color: #fefefe;
			}
				.page-wrapper .last-game-bar .block h3{
					color: #9B9DA9;
					font-family: cursive;
					font-size: 22px;
				}

					./*scroll::-webkit-scrollbar {
						    width: 2px;
						    height: 1px;
						    background: rgba(0, 0, 0, 0.4);
					}
					.scroll::-webkit-scrollbar-thumb {
					    background-color: #ED3E20;
					}
					.scroll::-webkit-scrollbar-track {
					    border-width: 0;
					}*/
				.page-wrapper .last-game-bar .block table{
					/*border: 1px solid #fefefe;*/
					color: #fefefe;
				}
					.page-wrapper .last-game-bar .block table th{
						font-style: bold;
						color: #ED4A18;
					}
					.page-wrapper .last-game-bar .block table td{
						color: #888A98;
					}

	.page-wrapper .footer{
		background: #131524;
		margin-top: 10px;
		padding: 15px;
	}
		.page-wrapper .footer small{
			margin: 10px;
			color: #8C8E9D;

			font-family: cursive;
			font-style: bold;
		}
		.page-wrapper .footer a{
			text-decoration: none;
			color: #A9ABBA;
		}






/* NOT AUTH PAGE */

.page-wrapper .not-auth .auth{
	height: 350px;

	padding: 10px;
	background: #131524;

	margin-bottom: 15px;

	text-align: center;
}

  .page-wrapper .not-auth .auth .block{
  	margin-top: 90px;
  }
  	.page-wrapper .not-auth .auth img{
  		display: none;
  		margin-bottom: 50px;
  	}
	.page-wrapper .not-auth .auth p{
		color: #898B97;
	}
	.page-wrapper .not-auth .auth a{
		text-decoration: none;
	}
	.page-wrapper .not-auth .auth h4{
		display: block;

		width: 90%;

		margin: 0 auto;
		color: #898B97;
	}
		.page-wrapper .not-auth .auth button{
			width: 250px;
			height: 50px;

			margin: 15px;

			background: #ED4A1C;

			border: none;
			color: #fefefe;

			outline: none;
		}

.page-wrapper .not-auth .about{
	height: 350px;

	padding: 10px;
	background: #131524;

	margin-bottom: 15px;

	text-align: center;
}






.page-wrapper .lvl_list{
		margin-bottom: 15px;
		float: left; 
		max-height: 410px;
}
	.page-wrapper .lvl_list .block{
		color: #fefefe;

		height: 410px;
		/*max-height: 410px;*/
	}
		.page-wrapper .lvl_list .block h3{
			color: #9B9DA9;
			margin: 5px;

			/*box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */*/
			padding: 5px;
		}
		.page-wrapper .lvl_list .block .list{
			background: #131524;
			max-height: 410px;
			height: 407px;

			overflow-y: scroll;
		}

		    .page-wrapper .lvl_list .block .list::-webkit-scrollbar {
			    width: 2px;
			    height: 1px;
			    background: rgba(0, 0, 0, 0.1);
			}
			.page-wrapper .lvl_list .block .list::-webkit-scrollbar-thumb {
			    background-color: #ED3E20;
			}
			.page-wrapper .lvl_list .block .list::-webkit-scrollbar-track {
			    border-width: 0;
			}

		.page-wrapper .lvl_list .block .list ul{
			list-style: none;
		}
			.page-wrapper .lvl_list .block .list ul li{
				display: inline-block;
				transition: all 0.4s;
			}
				.page-wrapper .lvl_list .block .list ul li .element{
					width: 100px;
					height: 100px;
					margin: 10px;
					text-align: center;
				}
					.page-wrapper .lvl_list .block .list ul li .element img{
						display: block;
						pointer-events: none; /*Запрет на копирования фотографий Lvl*/
						width: 70px;
						margin: 0 auto;

						user-select: none;
					}
					.page-wrapper .lvl_list .block .list ul li .element button{
						display: block;
						margin-top: 5px;

						width: 100%;
						border: none;
						border-radius: 4px;
						background: #ED4A18;
						color: #fefefe;

						outline: none;

						transition: all 0.3s;

					}
						.page-wrapper .lvl_list .block .list ul li .element button:hover{
							background: #FF782F;
						}



.page-wrapper .lvl_info{

		margin-bottom: 15px;
		float: left; 
}
	.page-wrapper .lvl_info .block{
		color: #fefefe;
		height: 410px;
		max-height: 410px;
		
	}
		.page-wrapper .lvl_info .block h1{

			color: #FF5D2B;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 38px;

			text-align: center;
			text-transform: uppercase;

			font-style: bold;
		}
		.page-wrapper .lvl_info .block .info{
			width: 100%;
			background: #131524;
			padding: 20px;
		}
		  	.page-wrapper .lvl_info .block .info ul{
			  		margin: 0;
			  		padding: 0;
			  		list-style: none;
			  	}
			  		.page-wrapper .lvl_info .block .info ul li{
			  			margin: 17px auto;
			  			font-family: 'Roboto Condensed', sans-serif;
			  			font-size: 18px;

			  			text-transform: uppercase;
			  			color: #8C8E9A;
			  		}
			  			.page-wrapper .lvl_info .block .info ul li small{
			  				color: #fefefe;
			  			} 
			  			#get_sum ,#level_action,#throw_sum , #level_type ,#room_level { 
			  				font-size: 18px;
			  			}
			  			.fa-ruble-sign {  /*Размер иконок РУБЛИ*/ 
			  				font-size: 15px;
			  			}



		.page-wrapper .lvl_info .block button{
			/*position: absolute;*/
			width: 100%;

			background: #37C441;

			border: none;
			border-radius: 5px;

			color: #fefefe;
			padding: 10px;

			bottom: 15px;

			outline: none;
			transition: all 0.3s;
		}
			.page-wrapper .lvl_info .block button:hover{
				background: #1BA825;
			}


.page-wrapper .loading_block{


	margin-bottom: 15px;
	min-height: 410px;
	height: 410px;

	background: #131524;
	color: #5C5E6D;

	text-align: center;
	float: left;
}
	.page-wrapper .loading_block h1{
		margin-top: 35px;
	}
		.page-wrapper .loading_block img{
			margin: 155px 10px 0 0;
		}
		.page-wrapper .loading_block p{
			padding-top: 10px;
		}






.refBlock{
	/*padding: 10px;*/
	/*margin-bottom: 10px;*/

}
	.refBlock .block_container{

		background: #131524;
		color: #7B7D89;

		padding: 20px;
		margin-bottom: 10px;
	}
		.refBlock .block_container .linkBlock{
			padding: 10px;

			border: 1px solid #ED4A18;
			border-radius: 4px;


		}
			.refBlock .block_container .linkBlock b{
				margin: 0 4px 0 4px;
				color: #A7A9B5;
			}
				.refBlock .block_container .linkBlock #copy_ref{
					user-select: text;
					transition: all 0.5s;
				}
				.refBlock .block_container .linkBlock .copyTrue{

				    transition-duration: 0.5;
				    transition-timing-function: linear;


					text-align: center;
					color: #00FF00;
					text-transform: uppercase;
				}

			.refBlock .block_container .linkBlock button{
				margin: 0px;

				height: 35px;
				width: 40px;

				background: #3B3D4B;
				color: #C4C5C8;
				border: none;
				border-radius: 4px;

				outline: none;
				float: right;

				transform: translateY(-5px);
				transition: all 0.3s;
			}
				.refBlock .block_container .linkBlock button:hover{
					background: #ED4A18;
				}

			.refBlock .block_container table{
				table-layout: fixed;
				width: 100%;
			}
				.refBlock .block_container table tr{
					text-align: center;
				}
				.refBlock .block_container table th{
					padding: 0 0 15px 0;

					color: #ED4A18;
					font-style: bold;

					border-bottom: 1px solid #ED4A18;
				}
			.refBlock .block_container .count_pagination{
				margin-top: 25px;
				height: 40px;
			}
				.refBlock .block_container .count_pagination label{
					display: block;
					margin: 5px;
					float: left;
				}
				.refBlock .block_container .count_pagination .paginator{
					float: right;
				}
					.refBlock .block_container .count_pagination .paginator small{
						color: #0A7BDC;
						display: inline-block;
					}
					.refBlock .block_container .count_pagination .paginator ul{
						display: inline-block;
						margin: 0;
						padding-right: 30px;
					}
						.refBlock .block_container .count_pagination .paginator ul li{
							display: inline-block;
							margin: 5px;
						}
							.refBlock .block_container .count_pagination .paginator ul li div{
								width: 40px;
								height: 40px;

								background: rgb(237,74,24);
                                /*background: linear-gradient(90deg, rgba(237,74,24,1) 35%, rgba(135,37,6,1) 82%);*/

                                color: #fefefe;
                                text-align: center;
                                font-size: 22px;

                                border-radius: 5px;

							}



/*  MODAL WINDOW ZONE */

.modal-window{
	position: fixed;
	width: 100%;
	height: 100%;

	background: rgba(1,1,1,0.7);
	user-select: none;

	z-index: 999999;

	transition: all 0.3s;
}

	.modal-window .contain{
		width: 90%;
		margin: 0 auto;

		padding-top: 60px;
	}
		.modal-window .contain .window{
			width: 100%;

			margin: 0 auto;
			padding: 25px;

			background: #131524;
			box-shadow: 0 0 10px rgba(0,0,0,0.5); 
			border-radius: 10px;
			height: auto;
		}
			.modal-window .contain .window .window-header{
				width: 100%;
			}
				.modal-window .contain .window .window-header #window-close{
					border: none;
					border-radius: 100%;

					background: #131524;
					color: #FF5D2B;
					box-shadow: 0 0 10px rgba(0,0,0,0.5); 

					height: 50px;
					width: 50px;

					transform: translate(35px,-35px);
					font-size: 20px;

					transition: all 0.3s;
					float:  right;
					outline: none;
				}
					.modal-window .contain .window .window-header #window-close:hover{
						color: #00FF00;
					}
			.modal-window .contain .window .windows-modal{
				width: 80%;
				margin: 0 auto;
			}

	
	.window-money-repl{
		/*/ code here */
		padding-top: 20px;
		color: #8A9DA9;
	}
		.window-money-repl input{
			width: 100%;
			padding: 5px;

			border: none;
			border-radius: 4px;

			outline: none;
		}
		.window-money-repl select{
			width: 50%;
			padding: 5px;

			border: none;
			border-radius: 4px;

			outline: none;
		}
			.window-money-repl button{
			display: block;
			background: #FF5D2B;

			border: none;
			border-radius: 4px;
			width: 120px;
			padding: 10px;
			margin: 0 auto;

			color: #fefefe;
			/*float: right;*/

			outline: none;

			transition: all 0.3s;
		}
			.window-money-repl button:hover{
				background: #D93705;
			}
		.window-money-repl .submitRepl{
			height: 85px;
			margin-top: 30px;
		}
		.window-money-repl .moreRepl{
			width: 100%;
			text-align: center;
		}
			.window-money-repl .moreRepl a{
				text-decoration: none;
			}
		.window-money-repl .comission{

			width: 200px;
			background: #8A9DA9;
			padding: 2px;
			margin-top: 10px;
			border-radius: 3px;

			color: #172A36;
			text-align: center;
			font-style: bold;

			cursor: pointer;
		}

	.window-money-output{
		/*/ code here */
		padding-top: 20px;
		color: #8A9DA9;
	}
		.window-money-output select{
			width: 50%;
			padding: 5px;

			border: none;
			border-radius: 4px;

			outline: none;
		}
		.window-money-output input{
			width: 100%;
			padding: 5px;

			border: none;
			border-radius: 4px;

			outline: none;
		}
		.window-money-output .comission{

			width: 100px;
			background: #8A9DA9;
			padding: 2px;
			margin-top: 10px;
			border-radius: 3px;

			color: #172A36;
			text-align: center;
			font-style: bold;

			cursor: pointer;
		}
		.window-money-output button{
			display: block;
			background: #FF5D2B;

			border: none;
			border-radius: 4px;
			width: 120px;
			padding: 10px;
			margin: 0 auto;

			color: #fefefe;
			/*float: right;*/

			outline: none;

			transition: all 0.3s;
		}
			.window-money-output button:hover{
				background: #D93705;
			}
		.window-money-output .submitOutMoney{
			height: 85px;
			margin-top: 30px;
		}
		.window-money-output .moreOutput{
			width: 100%;
			text-align: center;
		}
			.window-money-output .moreOutput a{
				text-decoration: none;
			}
	.window-money-output-history{
		max-height: 400px;
		overflow-y: scroll;
	}

	  .window-money-output-history::-webkit-scrollbar{
		width: 2px;
	    height: 1px;
	    background: rgba(0, 0, 0, 0.1);
	  }
	  .window-money-output-history::-webkit-scrollbar-thumb{
	    background-color: #ED3E20;
	  }
	  .window-money-output-history::-webkit-scrollbar-track{
	    border-width: 0;
	  }
		.window-money-output-history table{
			table-layout: fixed;
			width: 100%;

			font-size: 15px;
		}
			.window-money-output-history table th{
				color: #FF5D2B;
				text-align: center;
			}
				.window-money-output-history table td{
					color: #888A98;
					text-align: center;
				}
					.window-money-output-history table td #done{
						background: #12CC12;

						width: 100px;
						height: 25px;

						margin: 5px auto;

						border-radius: 4px;
						color: #fefefe;
						/*padding: 3px;*/
					}
					.window-money-output-history table td #wait{

						display: inline-block;
						background: #FF9100;

						width: 100px;
						height: 25px;

						margin: 5px auto;

						border-radius: 4px;
						color: #fefefe;
						/*padding: 3px;*/
					}
					.window-money-output-history table td .cancel{
						position: absolute;
						/*display: inline-block;*/
						color: #DC022B;

						transform: translate(10px,5px);
						font-size: 18px;
						cursor: pointer;
					}





		.window-money-repl-history{
				max-height: 400px;
				overflow-y: scroll;
		}

		  .window-money-repl-history::-webkit-scrollbar{
			width: 2px;
		    height: 1px;
		    background: rgba(0, 0, 0, 0.1);
		  }
		  .window-money-repl-history::-webkit-scrollbar-thumb{
		    background-color: #ED3E20;
		  }
		  .window-money-repl-history::-webkit-scrollbar-track{
		    border-width: 0;
		  }
			.window-money-repl-history table{
				table-layout: fixed;
				width: 100%;

				font-size: 15px;
			}
				.window-money-repl-history table th{
					color: #FF5D2B;
					text-align: center;
				}
					.window-money-repl-history table td{
						color: #888A98;
						text-align: center;
					}

		.window-game-over{
			text-align: center;
			color: #888A98;

			padding-top: 100px;
		}
			.window-game-over button{
				border: 0;
				border-radius: 4px;

				width: 80px;
				height: 40px;

				color: #fefefe;
				background: #ED3E20;

				margin-top: 100px;
				outline: none;
			}
				.window-game-over button:hover{
					background: #DF3021;
				} 	


	/* ======= < СПИСОК ПОСЛЕДНИХ ВЫПЛАТ >======= НАЧАЛО */
	.widthdraws {
		

	 	width: 95%;
		margin: 0 auto;
	    user-select: none;
	    background-color: #131524;
	    border-radius: 3px;
	    height: auto;
	    box-sizing: border-box;
	    margin: 0px 0px 26px 0px;
	}
	.widthdraws .bg-widthdraws {

	}
		  /* ТАБЛИЦА */
	 .widthdraws .bg-widthdraws table {
		text-align: center;
	    font-size: 18px;
	    width: 100%;
	} .widthdraws .bg-widthdraws th {
	    padding-bottom: 10px;
	    color: #FF5D2B;
	} .widthdraws .bg-widthdraws td {
	    padding-bottom: 10px;
	    text-align: center;
	    color: #888A98;
	} .widthdraws .bg-widthdraws .caption-side {
	    color: #6c757d;
	    text-align: left;
	    padding: 10px 0px 10px 20px; 
	    caption-side: top;
	/* ====== < SCROLLBAR - ПОСЛЕДНИХ ВЫПЛАТ > ====== НАЧАЛО */
	} .widthdraws::-webkit-scrollbar {
	    width: 2px;
	    height: 1px;
	    background: rgba(0, 0, 0, 0.1);
	} .widthdraws::-webkit-scrollbar-thumb {
		background-color: #ED3E20;
	} .widthdraws::-webkit-scrollbar-track {
		border-width: 0;
	} .widthdraws .bg-widthdraws img {
		pointer-events: none;
	}
    /* ====== </ SCROLLBAR - ПОСЛЕДНИХ ВЫПЛАТ > ====== КОНЕЦ */
	@media (max-width: 767) {
		.widthdraws .bg-widthdraws table {
			font-size: 13px;
		}
	}
	
	@media (max-width: 768) {
		.widthdraws .bg-widthdraws table {
			font-size: 15px;
		}
	}

	@media (max-width: 414px) {
		.widthdraws .bg-widthdraws table {
			font-size: 11px;
		}
	}


	/* ======= </ СПИСОК ПОСЛЕДНИХ ВЫПЛАТ />======= КОНЕЦ */







@media (min-width: 770px) and (max-width: 4000px){
	.navigation-bar{
		display: block;

	}
	.page-wrapper .navigation-bar .nav{
		float: right;
	}
}

@media (min-width: 0px) and (max-width: 770px){

	.window-money-output-history{
		overflow-x: scroll;
	}
	.window-money-output-history table{
		width: 160%;
	}
	.page-wrapper .lvl_list .block .list ul{
		padding: 0;
	}

	.page-wrapper .lvl_list .block .list ul li{
		width: 95px;
		margin: 0 auto;
	}

	.page-wrapper .lvl_list .block .list ul li .element{
		height: 85px;
		width: 100%;
	}

	.container-fluid{
		/*width: 150%;*/
	}
	.navigation-bar{
		display: none;
		height: 100%
		/*background: #FF844D;*/
		/*border-bottom: 1px solid #37CE47;*/
	}
	.show-menu{
		position: absolute;
		left: 20px;
		top: 10px;
		
		cursor: pointer;

		z-index: 999;

	}
		.navigation-bar .logo-block{
			text-align: center;
		}
				.navigation-bar .nav{
					text-align: center;
					width: 90%;
					margin: 0 auto;
					/*background: rgba(0,0,0,0.5);*/
					float: none;
				}
					.page-wrapper .navigation-bar .nav ul{
						width: 98%;
						margin: 50px auto;
					}
						.page-wrapper .navigation-bar .nav ul li{
							display: block;
							margin: 40px auto;
						}
							.page-wrapper .navigation-bar .nav ul li a{
								font-size: 23px;
							}
							.page-wrapper .navigation-bar .nav ul li #auth div{
								/*background: red;*/
								width: 100%;
								/*float: left;*/
							}
								.page-wrapper .navigation-bar .nav ul li #auth div:hover{
									width: 100%;
								}


						.nav-bar-left, .game-bar, .room-score, .last-game-bar{
							transition: all 0.3s;
						}
							.page-wrapper  .score-block .room-info ul li{
								font-family: 'Aldrich', sans-serif;
								/*font-size: 15px;*/
							}

						.page-wrapper .nav-bar-left .info-zone #user_name{
							font-family: 'Aldrich', sans-serif;

						}
						.page-wrapper .nav-bar-left .info-zone #user_balance{
							font-family: 'Aldrich', sans-serif;
						}
						.page-wrapper .footer small{
							font-family: 'Aldrich', sans-serif;
						}

		.refBlock .block_container table{
			overflow: scroll;
		}
		.refBlock .block_container label{
			display: block;
			text-align: center;

			margin: 10px;
		}
		.refBlock .block_container .count_pagination{
			height: 140px;
		}
			.refBlock .block_container .count_pagination .paginator{
				width: 80%;
				margin: 0 auto;
			}


/* **************** NOT AUTH PAGE  *****************/

	.page-wrapper .not-auth .auth .block{
		margin-top: 0;
	}
		.page-wrapper .not-auth .auth img{
	  		display: block;

	  		margin: 0 auto;
	  	}
	  	.page-wrapper .not-auth .auth h4{
			margin-top: 30px;
	  	}

/****************************************************/
}





@media (min-width: 0px) and (max-width: 340px){
	.page-wrapper{
		width: 135%;
	}
	.page-wrapper .last-game-bar .block{
		width: 130%;
	}

	.page-wrapper .nav-bar-left .avatar-zone{
		width: 70px;
		height: 70px;
	}

	.page-wrapper .nav-bar-left .info-zone #user_name{
		font-size: 25px;
	}
	.page-wrapper .nav-bar-left .info-zone #user-balance{
		font-size: 28px;
	}
}
@media (min-width: 340px) and (max-width: 450px){
	.window-money-output-history{
		overflow-x: scroll;
	}
	.window-money-output-history table{
		width: 230%;
	}

}

@media (min-width: 340px) and (max-width: 365px){
	.page-wrapper{
		width: 115%;
		margin-left: 8px;
	}

	.page-wrapper .last-game-bar .block{
		width: 150%;
	}
	.nav-bar-left{
		/*margin-left: 10px;*/
	}

	.page-wrapper .nav-bar-left .user-info{
		padding: 5px;
	}
}
@media (min-width: 767px) and (max-width: 1165px){
	.page-wrapper .nav-bar-left .user-info{
		padding: 3px;
	}
}


@media (min-width: 500px) and (max-width: 766px){
	.page-wrapper .nav-bar-left .user-info{
		height: 150px;
	}
		.page-wrapper .nav-bar-left .info-zone{
			width: 70%;
			float: left;
		}
		.page-wrapper .nav-bar-left .avatar-zone{
			float: left;
		}
		.page-wrapper .nav-bar-left .info-zone #user_name{
		}
		.page-wrapper .nav-bar-left .pay-button-zone{
			margin: 0;
			width: 100%;
		}
			.page-wrapper .nav-bar-left .pay-button-zone button{
				width: 200px;
			}
}

@media (min-width: 500px) and (max-width: 525px){
	.page-wrapper .nav-bar-left .user-info{
		height: 180px;
	}
	.page-wrapper .nav-bar-left .pay-button-zone button{
				width: 250px;
			}
}

@media (min-width: 0px) and (max-width: 574px){
	.page-wrapper .game-bar .regular-users  .user{
		width: 100px;
		margin: 0 auto;
	}

}



